<div class="header">
  <h1>Little Esty Shop</h1>
</div>


<style>
  .header {
    font-family: "Harrington", cursive;

    background-color: #6d8092;
    padding: 20px;
    text-align: center;
  }
</style>